@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

#macro-calculator {
	padding-top: 100px;
	padding-bottom: 100px;
	font-family: 'Fira Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
	color: #000000;
	font-weight: 400;
	font-size: 18px;

}

#macro-calculator form {
	border: 4px none black;
  border-radius: 4px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);
}

.calc-d-none {
  display: none;
}

#macro-calculator label {
    color: #b8a76f;
    font-weight: 500;
    font-size: 20px;;
}

#macro-calculator button {
  color: #ffffff;
  border-color: #b8a76f;
  border-radius: 50px;
  background-color: #b8a76f;
  font-weight: 800;
  border: 0px solid #06f;
  padding: 9.5px 30px;
  font-size: 22px;
  transition: all 0.2s;
}
#macro-calculator button:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}

#macro-calculator [type=number] {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  padding: 10.5px 10px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: #595959;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #ffffff;
}
.form-control:focus {
    box-shadow: none !important;
}

#macro-calculator .text-left {
  text-align: left;
}

#macro-calculator button.btn-macro-result {
  color: #ffffff;
  border-color: #000000;
  border-radius: 0px;
  background-color: #000000;
  margin-top: 50px;
  margin-bottom: 40px;
  transition: all 0.2s;
  border: 1px solid black;
  margin-top: 26px;
  margin-bottom: 0px;
}
#macro-calculator button.btn-macro-result:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
}

#macro-calculator button.btn-tooltip {
  font-weight: 400;
  border: 0px solid #06f;
  padding: 1px 10px;
  font-size: 15px;
  margin: 0;
}

/* Radio buttons */
.activity-level .form-check-label,
.goal-percentage .form-check-label {
  font-weight: 400 !important;
}
/*input[name="userSex"]:checked {
  border: red;
  outline: 2px solid deeppink;
}*/
#userSex label {
  width: 49%;
}
.form-check-input:checked {
    background-color: #b8a76f;
    border-color: #b8a76f;
}

.activity-level .form-check-label,
.goal-percentage .form-check-label {
  font-weight: 400 !important;
}

.activity-level .form-check,
.goal-percentage .form-check {
  border: 1px solid #b8a76f;
  border-bottom: none;
  margin: 0;
  padding: 10.5px 10px;
  transition: all 0.2s;
}
.activity-level .form-check:last-child ,
.goal-percentage .form-check:last-child  {
  border-bottom: 1px solid #b8a76f;
}
.activity-level .form-check:hover,
.goal-percentage .form-check:hover {
  background-color: #b8a76f;
  color: white !important;
}
.activity-level .form-check:hover label,
.goal-percentage .form-check:hover label {
  color: white!important;
}

.activity-level .form-check input,
.goal-percentage .form-check input {
  margin-left: 1px;
  margin-right: 7px;
}

#macro-calculator label.goal-label {
  font-weight: 400;
}

/* Placeholder */
#macro-calculator ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d6e0f0;
}
#macro-calculator ::-moz-placeholder { /* Firefox 19+ */
  color: #d6e0f0;
}
#macro-calculator :-ms-input-placeholder { /* IE 10+ */
  color: #d6e0f0;
}
#macro-calculator :-moz-placeholder { /* Firefox 18- */
  color: #d6e0f0;
}

/* Remove arrows */
#macro-calculator input::-webkit-outer-spin-button,
#macro-calculator input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#macro-calculator input[type=number],
#macro-calculator input[type=text] {
    -moz-appearance:textfield; /* Firefox */
}

/* ----- Result Block ------ */
.adjust-protein-ammount label {
  width: 30%;
}
.adjust-protein-ammount label.title {
  width: 100%;
}

#result-block .card-body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#result-block .card-body button {
  margin-bottom: 30px;
  border-radius: 7px;
  transition: all 0.2s;
}

#result-block .card{
  border: 4px solid #b8a76f;
  border-radius: 4px;
  background-color: #ffffff;
}
#result-block .cicrcle {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background-color: #b8a76f;
}

/* Validation button */
#macro-calculator button#validationButton {
  margin-bottom: 30px;
  border-radius: 7px;
  transition: all 0.2s;
  margin: 0 auto;
  display: none;
}
#validationButton:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}


/* MEDIA QUERY */
/* LAPTOP */
@media (min-width: 1400px) {}

/* small LAPTOP */
@media (max-width: 1024px) {}

/* TABLET */
@media (max-width: 768px) {}

/* MOBILE */
@media (max-width: 475px) {
  #macro-calculator button.btn-macro-result {
    width: 100%;
  }
  #result-block .card-body {
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 28px;
  }
  .adjust-protein-ammount label {
    width: 100%;
/*    font-size: 15px !important;*/
  }
  /*.adjust-protein-ammount label.title {
    width: 100% ;
    font-size: 20px !important;
  }*/
}

@media (max-width: 375px) {
  #result-block .card-body button {
    font-size: 18px;
  }
  #macro-calculator table td {
    font-size: 16px;
  }
  .goal-percentage .form-check label {
    font-size: 18px !important;
  }
  #macro-calculator form {
	padding-left: 5px;
         padding-right: 5px;
  }
}
@media (max-width: 320px) {
  #macro-calculator form {
	padding: 0 !important;
  }
}



